@model IEnumerable<ObliGaitanBordaAnon.Models.OrdenDetalle>

@{
    ViewData["Title"] = "Detalles de ordenes";
}

<h1>Detalles de ordenes</h1>

<p>
    <a class="btn btn-warning" asp-action="Create">Agregar detalles de orden</a>
</p>
<table class="table table-hover">
    <thead>
        <tr class="table-info">
            <th>
                Cantidad de menu
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Menu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orden)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Menu.NombrePlato)
                </td>
                <td>
                    Nro. @Html.DisplayFor(modelItem => item.Orden.Id)
                </td>
                <td>
                    <a title="Editar" class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a> |
                    <a title="Detalles" class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-info-square-fill"></i></a> |
                    <a title="Borrar" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash-fill"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
