@model IEnumerable<ObliGaitanBordaAnon.Models.OrdenDetalle>

@{
    ViewData["Title"] = "Index";
}

<h1>Detalles de ordenes</h1>

<p>
    <a class="btn btn-warning" asp-action="Create">Agregar detalles de orden</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Cantidad de menu
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Menu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orden)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Menu.NombrePlato)
                </td>
                <td>
                    Nro. @Html.DisplayFor(modelItem => item.Orden.Id)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
