@model IEnumerable<ObliGaitanBordaAnon.Models.Reserva>

@{
    ViewData["Title"] = "Index";
}

<h1>Reservas</h1>

<p>
    <a class="btn btn-warning" asp-action="Create">Crear reserva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Fecha reserva
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mesa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaReservada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @if (item.Nombre != null)
                    {
                        @Html.DisplayFor(modelItem => item.Nombre)
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Cliente.Nombre) @Html.DisplayText("ID: ") @Html.DisplayFor(modelItem => item.Cliente.Id)
                    }
                </td>
                <td>
                    ID @Html.DisplayFor(modelItem => item.Mesa.NumeroMesa)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
