@model IEnumerable<ObliGaitanBordaAnon.Models.Cotizacione>

@{
    ViewData["Title"] = "Index";
}

<h1>Cotizaciones</h1>

<p>
    <a class="btn btn-warning" asp-action="Create">Agregar cotizacion</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tipo de moneda
            </th>
            <th>
                Valor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoMonedas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CotizacionMoneda)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
