@model IEnumerable<ObliGaitanBordaAnon.Models.Ordene>

@{
    ViewData["Title"] = "Index";
}

<h1>Ordenes</h1>

<p>
    <a class="btn btn-warning" asp-action="Create">Agregar orden</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reserva)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                $ @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                Nro. @Html.DisplayFor(modelItem => item.Reserva.Id)
            </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                </td>
        </tr>
}
    </tbody>
</table>
