@model IEnumerable<ObliGaitanBordaAnon.Models.Ordene>

@{
    ViewData["Title"] = "Ordenes";
}

<h1>Ordenes</h1>

<p>
    <a class="btn btn-warning" asp-action="Create">Agregar orden</a>
</p>
<table class="table table-hover">
    <thead>
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reserva)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    $ @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    Nro. @Html.DisplayFor(modelItem => item.Reserva.Id) ( Mesa @Html.DisplayFor(modelItem => item.Reserva.Mesa.NumeroMesa) )
                </td>
                <td>
                    <a title="Editar" class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a> |
                    <a title="Detalles" class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-info-square-fill"></i></a> |
                    <a title="Borrar" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash-fill"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
