@model ObliGaitanBordaAnon.Models.Resenia

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles de la reseña:</h1>

<div>
    <h4>Reseña</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Puntaje):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Puntaje)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comentario):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comentario)
        </dd>
        <dt class="col-sm-2">
            Fecha de la reseña:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaResenia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente):
        </dt>
        <dd class="col-sm-10">
            Nro. @Html.DisplayFor(model => model.Cliente.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurante)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Restaurante.Nombre) (@Html.DisplayFor(model => model.Restaurante.Id))
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-dark" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a class="btn btn-light" asp-action="Index">Volver a la lista</a>
</div>
