@model IEnumerable<ObliGaitanBordaAnon.Models.ReseniaViewModel>

@{
    ViewData["Title"] = "Reseñas";
}


<div class="container mt-4 text-end">
    <h2 class="text-center">Reseñas</h2>
</div>
<a class="btn btn-warning btn-lg" style="margin-bottom: 5px" asp-action="Crear">Agregar Reseña</a>

<div class="row">
    @foreach (var item in Model)
    {
        if (item.Puntaje <= 3)
        {
            <div class="col-md-4 mb-4">
                <div class="card border-danger mb-3" style="max-width: 40rem;">
                    <div class="card-body">
                        <h5 class="card-title"><i class="bi bi-person-fill"></i> @item.Email</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Sucursal: @item.RestauranteId</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Puntaje: @item.Puntaje</h6>
                        <p class="card-text">@item.Comentario</p>
                        <footer class="blockquote-footer">Fecha: @item.FechaResenia</footer>
                    </div>
                </div>
            </div>
        }
        else if (item.Puntaje > 3 && item.Puntaje < 7)
        {
            <div class="col-md-4 mb-4">
                <div class="card border-warning mb-3" style="max-width: 40rem;">
                    <div class="card-body">
                        <h5 class="card-title"><i class="bi bi-person-fill"></i> @item.Email</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Sucursal: @item.RestauranteId</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Puntaje: @item.Puntaje</h6>
                        <p class="card-text">@item.Comentario</p>
                        <footer class="blockquote-footer">Fecha: @item.FechaResenia</footer>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="col-md-4 mb-4">
                <div class="card border-success mb-3" style="max-width: 40rem;">
                    <div class="card-body">
                        <h5 class="card-title"><i class="bi bi-person-fill"></i> @item.Email</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Sucursal: @item.RestauranteId</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Puntaje: @item.Puntaje</h6>
                        <p class="card-text">@item.Comentario</p>
                        <footer class="blockquote-footer">Fecha: @item.FechaResenia</footer>
                    </div>
                </div>
            </div>
        }

    }
</div>

<style>
    .card {
        min-height: 12rem;
        max-height: 12rem;
        max-width: 100%;
        transition: transform 0.1s ease-in-out;
    }

        .card:hover {
            transform: scale(1.02);
        }

    .card-title {
        font-size: 1.25rem;
        font-weight: 600;
    }

    .card-subtitle {
        font-size: 1rem;
        font-weight: 500;
    }

    .card-text {
        font-size: 1rem;
    }

    .blockquote-footer {
        font-size: 0.875rem;
        color: #6c757d;
    }
</style>