@model OBGaitanBordaAnon.Models.Clima

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Clima</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Temperatura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Temperatura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lluvia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lluvia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionClima)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionClima)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
