@model IEnumerable<ObliGaitanBordaAnon.Models.RolesPermiso>

@{
    ViewData["Title"] = "Index";
}

<h1>Asignaciones</h1>

<p>
    <a class="btn btn-warning" asp-action="Create">Asignar permisos a roles</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Permiso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Permiso.Nombre) (@Html.DisplayFor(modelItem => item.Permiso.Id))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rol.Nombre) (@Html.DisplayFor(modelItem => item.Rol.Id))
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
