@model IEnumerable<ObliGaitanBordaAnon.Models.RolesPermiso>

@{
    ViewData["Title"] = "Asignaciones rol-permiso";
}

<h1><i class="bi bi-toggles"></i> <strong>Asignaciones</strong></h1>

<div class="row mb-3">
    <div class="col-md-6">
        <form asp-action="Index" method="get" class="form-inline align-items-center">
            <label for="porRol" class="mr-2">Filtrar por categoría:</label>
            <div class="d-flex align-items-center">
                <select name="porRol" class="form-control form-control-sm custom-select-width" id="porRol">
                    <option value="Administrador">Administrador</option>
                    <option value="Mozo">Mozo</option>
                    <option value="Recepcionista">Recepcionista</option>
                    <option value="Cajero">Cajero</option>
                    <option value="Cliente">Cliente</option>
                </select>
                <input type="submit" value="Filtrar" class="btn btn-primary btn-sm ml-2" asp-action="Index" />
            </div>
        </form>
    </div>
    <div class="col-md-6 text-end">
        <a class="btn btn-warning mt-3" asp-action="Create">Asignar permiso a rol</a>
    </div>
</div>



<table class="table table-hover">
    <thead>
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(model => model.Permiso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Permiso.Nombre) (@Html.DisplayFor(modelItem => item.Permiso.Id))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rol.Nombre) (@Html.DisplayFor(modelItem => item.Rol.Id))
                </td>
                <td>
                    <a title="Editar" class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a> |
                    <a title="Detalles" class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-info-square-fill"></i></a> |
                    <a title="Borrar" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash-fill"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
