@model ObliGaitanBordaAnon.Models.Clima

@{
    ViewData["Title"] = "Detalles clima";
}

<h1>Detalles del clima:</h1>

<div>
    <h4>Clima</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Temperatura):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Temperatura) ºC
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lluvia)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Lluvia == true)
            {
                <span>Si</span>
            }
            else
            {
                <span>No</span>
            }
        </dd>
        <dt class = "col-sm-2">
            Descripcion del clima:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionClima)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-dark" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a class="btn btn-light" asp-action="Index">Volver a la lista</a>
</div>
